* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  background-color: #11d3c6;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  
  
}



section {
  display: -webkit-flex;
  display: flex;
}


nav {
  -webkit-flex: 0.5;
  -ms-flex: 0.5;
  flex: 0.1;
  background: #b0f54f;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
  cursor: pointer;
}

nav ul li {
  padding-bottom: 5px;
}

nav ul li:hover {
  color: blue;
}

main {
  
  padding-top: 20px;
 
}
 
footer {
  background-color: #d90c0c;
  padding: 10px;
  text-align: center;
  color: white;
}



@media (max-width: 600px) {
  section {
      -webkit-flex-direction: column;
      flex-direction: column;
  }
}
